<app-header></app-header>
<router-outlet></router-outlet>

<div class="grid">
  <div class="grid-row">
  </div>
  <footer class="grid">
    <div class="grid-row">
      <span class="col-12 col-t-12 col-m-12">Fake News Attacker</span>
    </div>
    <div class="grid-row">
      <span class="col-6 col-t-12 col-m-12">Powered By <a href="https://angular.io/"><i class="fab fa-angular"></i></a>
        & <a href="https://getbootstrap.com/"><i class="fab fa-bootstrap"></i></a></span>
      <span class="col-6 col-t-12 col-m-12">Desarrollado por Santiago Jacobus y Gerardo Gonzalez</span>
    </div>
    <div class="grid-row">
      <div class="col-12">
        <p>&copy; ITESO 2021</p>
      </div>
    </div>
  </footer>
</div>
