@function getWidth($size, $base: 12) {
    @return (100*$size / $base) * 1%;
}

.grid {
    width: 75%;
    padding: 0;
    height: 100%;
    margin: auto;
    display: block;
    background-color: $background;
    border-radius: .25em;
}

.grid .grid-row {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
}

[class*='col-'] {
    border-radius: 5px;
    text-align: center;
    padding: .25em;
}

@each $device, $pixels in $devices {
    @if ($pixels == 1200px) {
        @media (min-width: $pixels) {
            @for $column from 1 through $max-columns {
                .grid-row .col-s-#{$column}{
                    width: getWidth($column, $max-columns);
                }            
            }
        }
    }
    @media (max-width: $pixels) {
        @if $pixels <= 768px {
            .grid {
                width: 100% !important;
            }
            .grid .grid-row {
                display: block !important;
                text-align: center !important;
            }
        }
        @for $column from 1 through $max-columns {
            .grid-row .col-#{$device}-#{$column}{
                width: getWidth($column, $max-columns) !important;
            }            
        }
    }
}
