$background: #e6cc78;
$primary-color: #056367;
$navbar-color: #64211E;
$accent-color: #9E7533;
$white-color: #FAF8EB;
$devices: "d" 1200px, "l" 1024px, "t" 768px, "m" 480px;
$max-columns: 12;
$footer-font-size: 12px;
