@import "sass/variables";
@import "sass/mixins";
@import "sass/grid";

html,
body {
    @include elements-reset;
    @include openSans-font;
    background-color: $primary-color;
    color: $navbar-color;
    margin: 0;
    padding: 0;
}

.verticalHr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: auto;
    width: 1px;
}

.inputCenter {
    margin: auto;
    padding: auto;
}

.alignVertically {
    margin: auto 0 auto 0;
}

footer {
    font-size: $footer-font-size;
}

